/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  border: 10px solid #7f00ff;
  /*padding: 5px;*/
  /*gap: 15px;*/
  /*padding: 15px;*/
}

.flex-item {
  padding: 10px;
  font: 900 60px "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
}

.flex-item{
  /*flex: 1;*/
  /*width: 200px;*/
  /*width: 50%;*/
  /*width: calc(33.33% - 10px);*/
  /*width: 300px;*/
  /*width: 33.33%;*/
  /*margin: 5px;*/
  /*align-self: flex-start;*/
  /*flex-grow: 1;*/

  flex: 1 0 300px;
}

.item-1 {
  background-image: linear-gradient(45deg, #ff8177, #cf556c);
  /*align-self: stretch;*/
}

.item-2 {
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
  /*align-self: flex-start;*/
  /*font-size: 150px;*/
  flex-shrink: 2;
}

.item-3 {
  background: linear-gradient(45deg, #a6c0fe, #f68084);
  /*align-self: center;*/
  flex-shrink: 3;
}

.item-4 {
  background: linear-gradient(45deg, #d4fc79, #96e6a1);
  /*align-self: flex-end;*/
  /*font-size: 100px;*/
}

.item-5 {
  background: linear-gradient(45deg, #43e97b, #38f9d7);
  /*align-self: baseline;*/
}

.item-6 {
  background: linear-gradient(45deg, #a18cd1, #fbc2eb);
  /*align-self: baseline;*/
  /*font-size: 100px;*/
}

.item-7 {
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.item-8 {
  background: linear-gradient(45deg, #e1eec3, #f05053);
}

/* Custom styles */
.flex-container {
  /*
  flex - элемент ведёт себя как блочный
  inline-flex - элемент ведёт себя как строчный
  */
  /*display: inline-flex;*/
  display: flex;

  /*
  Задаёт направление основных осей в контейнере
  */
  /*flex-direction: row;*/
  /*flex-direction: column;*/

  /*
  Отвечает за перенос элементов
  */
  /*flex-wrap: wrap;*/

  /*выравнивание элементов*/
  /*flex-start - выравнивание с начала оси*/
  /*flex-end - выравнивание с конца оси*/
  /*center - выравнивание по центру оси*/
  /*space-between - выравнивание равномерно распределить по оси от начала до конца*/
  /*space-around - выравнивание равномерно распределить пространство вокруг элементов*/
  /*space-around - выравнивание равномерное расстояние между контейнерами и элементами*/
  /*justify-content: space-evenly;*/

  /*min-height: 100vh;*/
  /*height: 100vh;*/

  /*align-content: flex-start;*/
  /*flex-wrap: wrap;*/


}

@media screen and (max-width:  650px){
  .flex-container{
    /*flex-direction: column;*/
  }
}
